.header {
    color: white;
    padding: 10px 30px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.logo-section h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.logo-section p {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.9;
}